<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName ptitsynamv.1gb.ua
    ServerAlias ptitsynamv.1gb.ua
    DocumentRoot /var/www/html/antropogenez-dashboard
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
