<button mat-flat-button color="primary" [routerLink]="'create'">Create New</button>

<section *ngIf="!isLoading; else loader">
  <mat-card *ngFor="let water of waterList">
    <mat-card-title class="title">
      {{water.date}}
    </mat-card-title>

    <mat-card-content>
      <p><b>Гарячая вода:</b></p>
      {{water.data.hot1CounterName}}: {{water.data.hot1}}
      <br>
      {{water.data.hot2CounterName}}: {{water.data.hot2}}

      <p><b>Холодная вода:</b></p>
      {{water.data.cold1CounterName}}: {{water.data.cold1}}
      <br>
      {{water.data.cold2CounterName}}: {{water.data.cold2}}
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="onClickDelete(water.id)">Delete</button>
    </mat-card-actions>

  </mat-card>
</section>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
