<button mat-flat-button color="primary" [routerLink]="'create'">Create New</button>

<section *ngIf="!isLoading; else loader">
  <mat-card *ngFor="let water of waterList">
    <mat-card-title class="title">
      {{water.date}}
    </mat-card-title>

    <mat-card-content>
      <p [innerText]="water.data"></p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="onClickDelete(water.id)">Delete</button>
    </mat-card-actions>

  </mat-card>
</section>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
