<div class="menu-wrap">

  <button mat-fab color="accent" routerLink="/">
    <mat-icon>bookmark</mat-icon>
  </button>

  <ng-container *ngIf="isLogged; else logInTmp">

    <button *ngFor="let link of links"
            mat-raised-button
            color="accent"
            [routerLink]="[link.url]"
            routerLinkActive="active-url"
    >
      {{link.name}}
    </button>

    <button mat-raised-button (click)="logout()" color="accent">
      Выйти
    </button>
  </ng-container>

  <ng-template #logInTmp>
    <button mat-raised-button (click)="login()" color="accent">
      Log in
    </button>
  </ng-template>

</div>

<div class="content-wrap">
  <router-outlet></router-outlet>
</div>
