.menu-wrap {
  background: #c7c7c7;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  flex-wrap: wrap;

  button {
    margin: 5px;
    height: 56px;

    &.active-url {
      background: darkcyan;
    }
  }
}

.content-wrap {
  padding-top: 30px;
  padding-left: 30px;
}
