<section *ngIf="!isLoading; else loader">
  <div class="articles-wrap">
    <div
      *ngFor="let article of articles" matRipple
      (click)="onClick(article.id)"
    >
      <mat-card>
        <mat-card-title
          class="title"
        >{{article.subject}}
        </mat-card-title>
        <mat-card-subtitle>{{article.date}}</mat-card-subtitle>
      </mat-card>
    </div>
  </div>

  <mat-paginator [length]="count"
                 [pageSize]="pageSize"
                 [hidePageSize]="true"
                 [showFirstLastButtons]="true"
                 (page)="handlePage($event)"
  >
  </mat-paginator>

</section>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
