<section *ngIf="!isLoading">
  <div class="articles-wrap">
    <div *ngFor="let article of articles">
      <mat-card>
        <mat-card-title
          class="title"
          (click)="onClick(article.id)"
        >{{article.subject}}</mat-card-title>
        <mat-card-subtitle>{{article.date}}</mat-card-subtitle>
      </mat-card>
    </div>
  </div>

  <mat-paginator [length]="count"
                 [pageSize]="pageSize"
                 (page)="handlePage($event)"
                 >
  </mat-paginator>

</section>

